[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = git@github-personal:sindresorhus/pure.git
[submodule "hammerspoon"]
	path = hammerspoon
	url = git@github-personal:valrus/spacehammer.git
